# gluetail node "proton": a VPN exit node. Everything except GLUETAIL_* is passed
# to gluetun as-is, so any gluetun option for your provider works here
# (see https://github.com/qdm12/gluetun-wiki/tree/main/setup/providers).
# credentials file containing WIREGUARD_PRIVATE_KEY=...
GLUETAIL_SECRETS=./secrets/proton.env
# name in your tailnet
GLUETAIL_HOSTNAME=exit-proton
VPN_SERVICE_PROVIDER=protonvpn
VPN_TYPE=wireguard
SERVER_COUNTRIES=Netherlands
# Proton free plan: only free servers; remove this line on a paid plan
FREE_ONLY=on
